.moviepage-container{
    margin-left:20%;
    padding:1px 16px;
}

.moviepage-container .more-info{
    display: flex;
}

.titlle{
    display: inline-block;
    margin-left: 100px;
}

.moviepage-container .watch{
    color: white;
    background-color: purple;
}
