.subpage-container{
    width: 30vw;
    right: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: static;
    
}

.title{
    position: relative;
}

.poster-image{
    top: 0;
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.description{
    position: relative;
    margin: 10px;
}

.close{
    position: absolute;
    top: 0;
}

@media screen and (max-width: 992px){
    .subpage-container{       
       position: absolute;
       height: 50vh;
       bottom: 0;
       width: 100vw;
       left: 0;
       right: 0;
       top: 50%;

    }
}
